@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  /* Neutral */
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  --font-size-p: 0.875rem;
}

.montserrat-500 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-700 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.fraunces-700 {
  font-family: 'Fraunces', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    'SOFT' 0,
    'WONK' 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--cream);
  padding-bottom: 30px;
}

main {
  display: flex;
  background-color: var(--white);
  border-radius: 10px;
  margin: 80px;
  max-width: 800px;
}

.perfume-img {
  display: block;
  max-width: 400px;
  height: auto;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.perfume-img-mobile {
  display: none;
}

div.product-details {
  padding: 45px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 400px;
}

p.perfume-text {
  letter-spacing: 0.3rem;
  color: var(--grey);
}

div.product-details h1 {
  width: 80%;
  line-height: 2.2rem;
}

p.product-description {
  color: var(--grey);
  line-height: 1.5rem;
}

div.product-price {
  display: flex;
  gap: 35px;
  align-items: center;
}

div.product-price p {
  font-size: 2rem;
  color: var(--green-500);
}

div.product-price small {
  text-decoration: line-through;
  color: var(--grey);
}

.add-to-cart-icon {
  height: 1.2rem;
  width: 1.2rem;
}

.add-to-cart-btn {
  border: none;
  border-radius: 10px;
  background-color: var(--green-500);
  padding: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  color: var(--white);
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: var(--green-700);
}

.add-to-cart-btn:active {
  transform: translateY(2px);
}

.add-to-cart-btn:focus-visible {
  outline: 3px solid lightgreen;
  outline-offset: 4px;
}

.attribution {
  font-size: 0.7875rem;
  text-align: center;
  margin-top: 120px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 991px) {
  main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
    margin: 80px auto 0;
    border-bottom-left-radius: 10px;
  }

  .perfume-img {
    display: none;
  }

  .perfume-img-mobile {
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  div.product-details {
    max-width: 100%;
  }

  p.perfume-text {
    font-size: 0.8rem;
  }

  div.product-details h1 {
    font-size: 1.8rem;
    width: 100%;
  }

  p.product-description {
    font-size: 0.9rem;
  }

  div.product-price p {
    font-size: 1.8rem;
  }

  .attribution {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 376px) {
  div.product-price {
    display: flex;
    gap: 25px;
    align-items: center;
  }
}
